<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" [routerLink]="['new']" routerLinkActive="active">Nuevo</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['update']" routerLinkActive="active">Actualizar</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['details']" routerLinkActive="active">Detalles</button>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>